@charset "UTF-8";
@import "functions_responsive.scss";

$c-mainColor : #044c99;
$c-lightGray : #cfd2db;
$c-lightGreen: #23adaa;
$c-lightWhite: #f5f6f8;

.bg-bblue{
	background-color: $c-mainColor;
}
.bg-bgreen{
	background-color: $c-lightGreen;
}
.bg-bgray{
	background-color: $c-lightGray;
}
.c-cblue{
	color: $c-mainColor;
}
.header{
	width: 100%;
	position: fixed;
	height: 14rem;	
	z-index: 1030;
	top: 0;
	background-color: white;
	box-shadow: 0 0 1rem 0 rgba(black, .6);
	@include ipadpro{
		height: 6rem;	
	}
	&__container{
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0;
		
		@include ipadpro{
			height: 6rem;

		}
		@include mobile{
			// height: 6rem;
			padding: 1rem 2rem;
			// flex-direction: column;
			position: relative;
		}
	}
	&__h1{
		display: flex;
		align-items: center;
		margin-left: 4rem;
		@include mobile{
			margin-left: 0;
			width: 100%;
		}
	}
	&__h1 > a{
		font-weight: bold;
		font-size: 4rem;
		margin-top: .3rem;
		color: $c-mainColor;
		text-decoration: none;
		-ms-transform: translateY(25%);
		font-family: "Yu Gothic", sans-serif;
		@include ipadpro{
			font-size: 3rem;
		}
	}
	&__h1:hover{
		opacity: .8;
	}
	&__content{
		display: flex;
		align-items: center;
		@include ipadpro{
			margin-right: 8rem;
		}
		@include mobile{
			display: none;
		}
	}
	&__content.active{
		@include mobile{
			display: flex;
		}
	}
	
	&__search, &__search--mobile{
		display: flex;
		align-items: center;
		i{
			color: $c-mainColor;
			margin-left: 1rem;
		}
	}
	&__search--mobile{
		padding: 1rem 2rem;
	}
	&__search::after{
		content: '';
		width: .1rem;
		height: 80%;
		background-color: black;
	}
	&__input{
		width: 100%;
		max-width: 18.7rem;
		padding-left: 1.5rem;
		padding-top: .2rem;
		outline: none;
		border: .1rem solid $c-lightGray;
		border-radius: 1.5rem;
		@include ipadpro{
			display: none;
		}
	}
	&__input--mobile{
		width: 100%;
		padding-left: 1.5rem;
		padding-top: .2rem;
		outline: none;
		border: .1rem solid $c-lightGray;
		border-radius: 1.5rem;
	}
	&__change-size{
		display: flex;
		margin-left: 2rem;
		align-items: baseline;
		span:first-child{
			font-size: 1.2rem;
			font-weight: bold;
			margin-right: 1rem;
		}
		span:last-child{
			font-size: 1.6rem;
			font-weight: bold;
			margin-left: 1rem;
		}
		&__input{
			height: 1.5rem;
			position: relative;
			width: 3rem;
			input[type="checkbox"]{
				display: none;
			}
			input[type="checkbox"]:checked + .checkbox-tick{
				background-color: #66b919;
			}
			input[type="checkbox"]:checked + .checkbox-tick:before{
				transform: translateX(100%);
				background-color: $c-lightGray;
			}
			.checkbox-tick{
				background-color: $c-lightGray;
				cursor: pointer;
				width: 100%;
				height: 100%;
				transition: all .2s ease;
				border-radius: 1rem;
			}
			.checkbox-tick::before{
				content: '';
				background-color: $c-mainColor;
				position: absolute;
				transition: all .2s ease;
				width: 1.8rem;
				height: 1.8rem;
				border-radius: 50%;
				left: -.2rem;
				top:-.1rem;
			}
		}
	}
	&__lang{
		display: flex;
		align-items: center;
		margin-left: 2rem;
		cursor: pointer;
		font-weight: bold;
		color: black;
	}
	&__lang:hover{
		opacity: .8;
		text-decoration: none;
	}
	&__lang.active{
	}

	&__nav{
		transition: all .5s ease;
		background-color: white;
		@include ipadpro{
			display: none;
		}
	}
	&__nav.active{
		@include ipadpro{
			display: block;
		}
	}
	&__menu{
		display: flex;
		background-color: white;
		position: relative;
		@include ipadpro{
			flex-direction: column;
			height: calc(100vh - 6rem);
		}
		&-item{
			width: 100%;
			max-width: 14rem;
			transition: .3s ease;
			display: flex;
			@include ipadpro{
				max-width: 100%;
				flex-wrap: wrap;
				border-bottom: .1rem solid $c-lightGray;
			}
			.menu-link-item{
				padding: 1rem;
				text-decoration: none;
				display: flex;
				align-items: center;
				width: 100%;
				justify-content: space-around;
				position: relative;
				font-weight: bold;
				font-size: 1.6rem;
				color: black;
				transition: all .3s ease;
				@include ipadpro{
					justify-content: space-between;
					padding: 1.5rem 2rem;
				}
			}
			.menu-link-item:hover{
				opacity: .8;
			}
			.menu-link-item.active{
				background-color: $c-mainColor;
				color: white;
			}
			.menu-link-item::after{
				content:'';
				width: .1rem;
				height: 2rem;
				position: absolute;
				right: 0;
				background-color: $c-lightGray;
				@include mobile{
					// margin: auto 0 auto 1rem;
					display: none;
				}
			}
		}
		&-item:hover{
			@media only screen and (min-width: 1025px) {
				.menu-hidden{
					display: block;
				}
			}
			
		}
	}
	&__button{
		display:none;
		justify-content: center;
		align-items: center;
		width: 3rem;
		height: 3rem;
		position: relative;
		cursor: pointer;
		margin-left: 2rem;
		position: absolute;
		top: 1.5rem;
		right: 2rem;
		span{
			position: absolute;
			width: 100%;
			height: .2rem;
			left: 0;
			background-color: black;
			transition: all .3s ease;
		}
		span:first-child{
			transform: translateY(-1rem);
		}
		span:last-child{
			transform: translateY(1rem);
		}
		@include ipadpro{
			display: flex;
		}
	}
	&__button.active{
		span:first-child{
			transform: rotate(45deg);
		}
		span:first-child + span{
			transform: rotate(180deg);
			opacity: 0;
		}
		span:last-child{
			transform: rotate(-45deg);
		}
	}
}
#lang-mobile{
	margin-right: 4rem;
}
.menu-hidden{
	width: 100%;
	display: none;
	align-items: center;
	position: absolute;
	left: 0;
	top: 3.6rem;
	padding: 2rem;
	background-color: white;
	border-top: .5rem solid $c-mainColor;
	@include ipadpro{
		position: unset;
	}
	ul{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		li{
			width: 33%;
			transition: all .3s ease;
			@include ipadpro{
				width: 100%;
			}
			a{
				width: 100%;
				display: block;
				padding: 2rem;
				text-decoration: none;
				color: black;
				transition: all .3s ease;
				@include ipadpro{
					border-left: .2rem solid $c-mainColor;
				}
			}
			a:hover{
				@include ipadpro{
					padding-left: 4rem;
					border-left: .2rem solid white;
				}
			}
		}
		li:hover{
			background-color: #ccc;
		}
	}
}
.menu-hidden.active{
	//display: block;
}
.menu-hidden::after{
	// content:'';
	width: 100%;
	position: absolute;
	top: 0;
	height: .5rem;
	background-color: $c-mainColor;
	@include ipadpro{
		background-color: transparent;
	}
}
.mv{
	width: 100%;
	margin-top: 14rem;
	position: relative;
	@include ipadpro{
		margin-top: 6rem;
	}
	&-slick{
		width: 100%;
		position: relative;
		overflow: hidden;
		&-item{
			width: 100%;
			max-height: 70rem;
			overflow: hidden;
			position: relative;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-item::after{
			content:'';
			width: 100%;
			height: 100%;
			background-color: white;
			opacity: .2;
			position: absolute;
			left: 0;
			top: 0;
		}
		.slick-prev, .slick-next{
			display: none !important;
		}
	}
	&-slick::after{
		content: '';
		width: 110%;
		height: 14vw;
		position: absolute;
		left: -5%;
		bottom: 0;
		background-color: white;
		border-radius:50%;
		transform: translateY(70%);
		// border-top-right-radius:100%;
	}
	&-content{
		position: absolute;
		display: block;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		color: black;
		text-align: center;
		padding: 0 2rem;
		h2{
			font-size: 4.2rem;
			font-weight: bold;
			margin-bottom: 5.5rem;
			@include mobile{
				font-size: 2rem;
				margin-bottom: 2.5rem;
				line-height: 1.4;
			}
		}
		p{
			font-size: 1.6rem;
			margin-bottom: 3rem;
			@include mobile{
				margin-bottom: 1rem;
				font-size: 1.4rem;
			}
		}
	}
	&-button{
		width: 100%;
		max-width: 24rem;
		height: 6rem;
		border-radius: 3rem;
		background-color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		padding: 1rem 2.5rem;
		text-decoration: none !important;
		color: black;
		font-weight: bold;
		font-size: 1.8rem;
		transition: all .3s ease;
		// @include mobile{
		// 	height: 4rem;
		// }
		@media only screen and (max-width: 767px) {
			display: none;
		}
	}
	&-button::after{
		content: '\f105';
		font-family: fontAwesome;
		color: #ccc;
	}
	&-button:hover{
		background-color: $c-mainColor;
		color:white;
		padding-left: 3.5rem;
		padding-right: 3.5rem;
	}
	&-banner{
		position: absolute;
		bottom: -2rem;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		@media screen and (min-width: 768px) {
			max-width: 720px;
		}
		@media screen and (min-width: 1140px) {
			max-width: 1120px;
		}
		@include ip5{
			bottom: -6rem;
		}
		.slick-track{
			padding: 1rem 0;
			.slick-slide{
				text-align: center;
			}
		}
		&-item{
			max-width: 26.5rem;
			max-height: 10rem;
			border-radius: .8rem;
			position: relative;
			@include mobile{
				max-width: 18rem;
			}
			img{
				width: 100%;
			}
		}
		&-item::after{
			content: '';
			width: 80%;
			background-color: black;
			position: absolute;
			bottom: 1rem;
			left: 0;
			right: 0;
			margin: 0 auto;
			box-shadow: 0 1rem 1rem .3rem black;
			z-index: -1;
		}
		.slick-prev, .slick-next{
			position: absolute;
			top: 0;
			bottom: 0;
			border: none;
			outline: none;
			background-color: transparent;
			font-size: 4rem;
			color: $c-mainColor;
			z-index: 2;
			@include laptop1 {
				font-size: 3rem;
			}
		}
		.slick-prev{
			left: -4rem;
			@include laptop1 {
				left: 2rem;
			}
		}
		.slick-next{
			right: -4rem;
			@include laptop1 {
				right: 2rem;
			}
		}
	}
}
.notification{
	margin-top: 7rem;
}
.notification-flex{
	display: flex;
	@include ipadpro{
		flex-direction: column;
	}
}
.new-arival{
	width: 75%;
	margin-right: 1rem;
	@include ipadpro{
		width: 100%;
		margin-right: 0;
		margin-bottom: 4rem;
	}
	&--title{
		display: flex;
		align-items: center;
		position: relative;
		@include ipadpro{
			padding-left: 2rem;
		}
		h2{
			font-weight: bold;
			font-size: 2.4rem;
			position: relative;
			padding-left: 2rem;
			@include mobile{
				font-size: 2rem;
			}
		}
		h2::after, h2::before{
			content: '';
			width: .7rem;
			height: .2rem;
			position: absolute;
			left: 0;
			top: 50%;
		}
		h2::before{
			background-color: $c-mainColor;
		}
		h2::after{
			background-color: #23adaa;
			transform: translateY(.2rem);
		}	
	}
	
	&--information{
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 2rem;
		&-item{
			width: 100%;
			min-height: 6.6rem;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			border-bottom: .1rem solid #ccc;
			a{
				text-decoration: none;
				color: white;
				font-size: 1.4rem;
				padding: .5rem 1rem;
				margin-left: 3rem;
				margin-right: 3rem;
				@include mobile{
					margin-bottom: 1rem;
				}
			}
			span{
				font-size: 1.4rem;
			}
			@include ipadpro{
				width: auto;
				margin:2rem;
				span:last-child{
					display: block;
				}
			}
		}
	}
}
.surrounding{
	width: 30%;
	margin-left: 1rem;
	@include ipadpro{
		margin-left: 0;
		width: 100%;
	}
	&--title{
		display: flex;
		align-items: center;
		position: relative;
		@include ipadpro{
			padding-left: 2rem;
		}
		h2{
			font-weight: bold;
			font-size: 2.4rem;
			position: relative;
			padding-left: 2rem;
			@include mobile{
				font-size: 2rem;
			}
		}
		h2::after, h2::before{
			content: '';
			width: .7rem;
			height: .2rem;
			position: absolute;
			left: 0;
			top: 50%;
		}
		h2::before{
			background-color: $c-mainColor;
		}
		h2::after{
			background-color: #23adaa;
			transform: translateY(.2rem);
		}
	}
	
	&--information{
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 2rem;
		@include ipadpro{
			padding: 0 2rem;
		}
		&-item{
			width: 100%;
			height: 6.6rem;
			display: flex;
			align-items: center;
			border-bottom: .1rem solid #ccc;
			span{
				font-size: 1.4rem;
			}
		}
	}
}
.product{
	width: 100%;
	margin-top: 5rem;
	background-color: $c-lightWhite;
	&-information{
		padding-top: 5rem;
		&--title{
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			@include ipadpro{
				padding: 0 2rem;
			}
			h2{
				font-weight: bold;
				font-size: 2.4rem;
				position: relative;
				padding-left: 2rem;
				@include mobile{
					font-size: 2rem;
				}
			}
			h2::after, h2::before{
				content: '';
				width: .7rem;
				height: .2rem;
				position: absolute;
				left: 0;
				top: 50%;
			}
			h2::before{
				background-color: $c-mainColor;
			}
			h2::after{
				background-color: #23adaa;
				transform: translateY(.2rem);
			}
		}
		.see-the-list{
			max-width: 16rem;
			@include mobile{
				max-width: 12rem;
			}
		}
	}
	&-detail{
		width: 100%;
		margin-top: 3rem;
		&--selection{
			height: 4rem;
			width: 100%;
			position: relative;
			@include mobile{
				height: 12rem;
			}
		}
		&--selection > div{
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: -1px;
			z-index: 10;
			@include mobile{
				flex-direction: column;
				padding: 0 2rem;
			}
		}
		&--button{
			position: relative;
			height: 100%;
			display: flex;
			align-items: center;
			background-color: $c-mainColor;
			color: white;
			font-size: 1.6rem;
			padding: 1rem 3rem;
			border-radius: 1.2rem 1.2rem 0 0;
			margin-right: 1rem;
			border-top:    .1rem solid $c-mainColor;
			border-right:  .1rem solid $c-mainColor;
			border-left:   .1rem solid $c-mainColor;
			border-bottom: none;
			text-decoration: none !important;
			z-index: 10;
			font-weight: bold;
			transition: all .3s ease;
			@include mobile{
				width: 100%;
				border-radius: 0;
				border-bottom: .1rem solid white;
				margin-right: 0;
			}
			i{
				margin-left: 1rem;
			}
		}
		&--button:hover{
			cursor: pointer;
			background-color: white;
			color: $c-mainColor;
		}
		&--button.active{
			background-color: white;
			color: $c-mainColor;
			border-top:    .1rem solid $c-lightGray;
			border-right:  .1rem solid $c-lightGray;
			border-bottom: .1rem solid white;
			border-left:   .1rem solid $c-lightGray;
		}
		&--button.active:hover{
			background-color: $c-mainColor;
			color: white;
		}
		&--type{
			width: 100%;
			min-height: 52rem;
			position: relative;
			margin-bottom: 5rem;
			z-index: 1;
			@include mobile{
				padding: 0 2rem;
				min-height: 1rem;
			}
		}
	}
}
.product-detail{
	&--container{
		width: 100%;
		min-height: .1rem;
		display: none;
		justify-content: space-between;
		flex-wrap: wrap;
		top: -.1rem;
		left: 0;
		right: 0;
		background-color: white;
		border: .1rem solid $c-lightGray;
		border-radius: 0 1.2rem 1.2rem 1.2rem;
		padding: 4rem;
		@include mobile{
			border-radius: 0;
			justify-content: space-around;
		}
	}
	&--container.active{
		display: flex;
	}
	&--title{
		width: 100%;
		text-align: center;
		margin-bottom: 1.5rem;
		font-size: 2rem;
		font-weight: bold;
		@include mobile{
			font-size: 1.8rem;
		}
	}
	&--item{
		outline: none;
		border: .1rem solid $c-lightGray;
		border-radius: .6rem;
		width: 100%;
		max-width: 24.5rem;
		height: 4.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-weight: bold;
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: relative;
		transition: all .3s ease;
	}
	&--item:last-of-type + div{
		width: 100%;
		margin-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 2rem;
		@include mobile{
			justify-content: space-around;
		}
	}
	&--item:hover{
		opacity: .8;
	}
	&--item.active{
		background-color: $c-mainColor;
		color: white;
	}
	&--item.active::after{
		content:'\f00c';
		font-family: fontAwesome;
		color: white;
		position: absolute;
		left: 2rem;
		top: 50%;
		transform: translateY(-50%);
		color: $c-mainColor;
		background-color: white;
		border-radius: 50%;
		padding: .6rem;
		font-size: 1.4rem;
	}
	&--follow{
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 24.5rem;
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
		border-bottom: .1rem solid $c-lightGray;
		transition: all .3s ease;

		span{
			font-size: 1.6rem;
			color: #1f1f1f;
			margin-left: 1rem;

		}
		i{
			margin-left: auto;
			margin-right: 1rem;
			transition: all .3s ease;
		}
	}
	&--follow:last-of-type::after{
	content:'';
	}
	&--follow:hover{
		opacity: .8;
		cursor: pointer;
		i{
			transform: translateX(-100%);
		}
	}
	&--img{
		width: 100%;
		max-width: 6rem;
		height: 6rem;
		border: .1rem solid $c-lightGray;

	}
}
.pick-up{
	width: 100%;
	margin-top: 5rem;
	&-header{
		padding-top: 5rem;
		@media screen and (max-width: 1140px) {
			padding: 2rem;
		}
		 
		&--title{
			padding-left: 1.5rem;
			display: flex;
			// justify-content: space-between;
			align-items: center;
			position: relative;
			h2{
				font-weight: bold;
				font-size: 2.4rem;
				@include mobile{
					font-size: 2rem;
				}	
			}
		}
		&--title::after, &--title::before{
			content: '';
			width: .7rem;
			height: .2rem;
			position: absolute;
			left: 0;
		}
		&--title::before{
			background-color: $c-mainColor;
		}
		&--title::after{
			background-color: #23adaa;
			transform: translateY(.2rem);
		}
	}
	&-header + div{
		width: 100%;
		margin: 0 auto;
		@media screen and (max-width: 1024px) {
			width: 80%;
		}
	}
	&--slick{
		margin-top: 2.5rem;
		.slick-list{
			padding: 2rem 0;
			.slick-slide{
				margin-right: 1rem;
				margin-left: 1rem;
				text-align: center;
			}
		}
		.slick-prev, .slick-next{
			position: absolute;
			top: 0;
			bottom: 0;
			border: none;
			outline: none;
			background-color: transparent;
			font-size: 4rem;
			color: $c-mainColor;
			z-index: 2;
			@include laptop1 {
				font-size: 3rem;
			}
		}
		.slick-prev{
			left: -4rem;
			@include laptop1 {
				left: 2rem;
			}
		}
		.slick-next{
			right: -4rem;
			@include laptop1 {
				right: 2rem;
			}
		}
		&-item{
			height: 34rem;
			width: 100%;
			max-width: 26.5rem;
			border: .1rem solid $c-lightGray;
			border-radius: .6rem;
			text-align: center;
			position: relative;
			img{
				max-width: 20rem;
				margin: 2rem auto 0 auto;
				@media screen and (max-width: 1024px) {
					max-width: 16rem;
				}
			}
			span{
				display: block;
			}
			span:nth-child(2){
				font-size: 1.4rem;
				margin-bottom: 1.5rem;
				color: #f0186a;
			}
			.pick-up--product-name{
				font-size: 2rem;
				font-weight: bold;
				margin-top: 2rem;
			}

		}
		.slick-dots{
			display: block;
			text-align: center;
			margin-top: 2rem;
			// align-items: center;
			// justify-content: center;
			li{
				display: inline-block;
			}
			li.slick-active{
				button{
					background-color: $c-mainColor;
				}
			}
		}
		.slick-dot--button{
			outline: none;
			border: none;
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			margin: 0 1rem;
			background-color: $c-lightGray;
		}
	}
}
.purchase{
	background-image: url("../images/bg_pixta.jpg");
	min-height: 50rem;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	margin-top: 5rem;
	&--content{
		width: 100%;
		background-color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 1rem;
		@media screen and (min-width: 768px) {
			max-width: 720px;
		}
		@media screen and (min-width: 1140px) {
			max-width: 1120px;
		}
		@include mobile{
			position: relative;
			margin: auto;
			top: 0;
			left:0;
			transform: translate(0%, 0%);
			background-color: transparent;
		}
		&-box{
			display: flex;
			span{
				font-size: 1.6rem;
			}

		}
	}
	&--container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 90%;
		margin: 0 auto;
		min-height: 38rem;
		@include mobile{
			flex-wrap: wrap;
		}
		&-box{
			width: 100%;
			margin-top: 4rem;
			display: flex;
			@include mobile{
				margin: 1rem 0;
				flex-wrap: wrap;
			}
			span{
				display: block;
				margin-bottom: 3.5rem;
				line-height: 1.5;
			}
			ul li{
				padding: .5rem;
				font-weight: bold;
				color: $c-lightGreen;
			}
		}
	}
	&--container-box > h2{
		font-size: 2.4rem;
		font-weight: bold;
		margin-bottom: 3rem;
		@include mobile{
			font-size: 2rem;
		}
	}
}
.footer{
	&-rectangle{
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 4rem 0;
		@include mobile{
			flex-direction: column;
			align-items: center;
			padding: 0 2rem;
		}
		&-item{
			width: 100%;
			max-width: 36rem;
			height: 6rem;
			margin: 1rem 0;
			background-color: #e5e5e5;
			border: .1rem solid $c-lightGray;
			@include ipadpro{
				margin: 1rem;
			}
		}
	}
	&-endpage{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 3rem 0;
		@include mobile{
			flex-wrap: wrap;
		}
		a{
			text-decoration: none;
			font-size: 1.2rem;
			color: black;
			@include mobile{
				width: 100%;
				margin: 1rem 0;
			}
		}
		a:hover{
			opacity: .8;
		}
		a:last-of-type{
			margin-left: auto;
			@include mobile{
				margin-left: 0;
			}
		}
		@include mobile{
			padding: 0 2rem;
			span{
				display: none;
			}
		}
	}
	.container:first-child + div{
		border-top: .1rem solid $c-lightGray;
	}
}
::placeholder {
   color: #000;
}
.movie-icon{
	position: absolute;
	top: -1rem;
	left: -1rem;
	width: 13rem;
	height: 3.4rem;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	padding-left: 1.5rem;
	border-radius: 2rem;
	background-color: $c-lightGreen;
	color: white;
	border: .1rem solid $c-lightGreen;
	transition: .3s ease;
	i{
		margin-right: 1rem;
	} 
}
.movie-icon:hover{
	color: $c-lightGreen;
	background-color: white;
	text-decoration: none !important;
}
.see-the-list, .see-the-detail{
	width: 100%;
	text-align: center;
	text-decoration: none !important;
	outline: none;
	border: .1rem solid #ccc;
	color: black;
	transition: all .3s ease;
	i{
		color: #ccc;
	}
}
.see-the-list{
	max-width: 12rem;
	height: 3rem;
	font-size: 1.4rem;
	border-radius: 1.4rem;
	padding-top: .8rem;
	margin-left: 3rem;
	i{
		margin-left: .4rem;
	}
}
.see-the-list:hover, .see-the-detail:hover{
	background-color: $c-mainColor;
	color: white;
}
.border-right::after{
	content:'';
	width: .1rem;
	height: 2rem;
	margin: auto 0 auto 2rem;
	background-color: $c-lightGray;
	@include mobile{
		margin: auto 0 auto 1rem;
	}
}
.before-checked:before{
	content: '\f00c';
	font-family: fontAwesome;
	color: $c-lightGreen;
	margin: 0 1rem;
}
.see-the-detail{
	max-width: 22rem;
	height: 4.5rem;
	font-size: 1.6rem;
	background-color: white;
	display: flex;
	align-items: center;
	border-radius: 2.5rem;
	padding: 0 3rem;
	margin-top: 3rem;
	font-weight: bold;
	i{
		margin-left: auto;
	}
}
.purchase--card{
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
	img{
		max-width: 12rem;
	}
	.product-catalog-button{
		width: 100%;
		max-width: 25rem;
		height: 4.3rem;
		background-color: $c-mainColor;
		color: white;
		position: relative;
		border: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: .6rem;
		font-size: 1.4rem;
		font-weight: bold;
		padding: 0 2rem;
		border: .1rem solid $c-mainColor;
		transition: all .3s ease;
	}
	.product-catalog-button::after,
	.product-catalog-button::before{
		content: '';
		width: 1.4rem;
		height: 1.4rem;
		border: .1rem solid white;
		position: absolute;
		top: 50%;
		background-color: $c-mainColor;
		transition: all .3s ease;
	}
	.product-catalog-button::after{
		right: 2rem;
		transform: translateY(-50%);
	}
	.product-catalog-button::before{
		right: 2.1rem;
		transform: translateY(-70%);
	}
	.product-catalog-button:hover,
	{
		color: $c-mainColor;
		background-color: white;
	}
	.product-catalog-button:hover::after,
	.product-catalog-button:hover::before{
		border-color: $c-mainColor;
		background-color: white;
	}
}
.flex--row{
	flex-direction: row;
}
.flex--column{
	flex-direction: column;
}
#backTop{
	position: fixed;
	width: 5rem;
	height: 5rem;
	bottom: 10vw;
	right: 4vw;
	background-color: $c-mainColor;
	border-radius: 50%;
	display:none;
	justify-content: space-around;
	align-items: center;
	font-size: 3.4rem;
	color: white;
	padding: .8rem 0;
	border: .1rem solid $c-mainColor;
	transition: all .3s ease;
	text-decoration: none;
	z-index: 1030;
}
#backTop:hover{
	background-color: white;
	color: $c-mainColor;
}